*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  place-items: center;
  align-items: end;
  justify-items: end;
  gap: 30px;
  grid-template-columns: 711px 399px;
}

.search-form {
  display: grid;
  grid-template-columns: 266px 237px 208px;
}

.content__list {
  display: flex;
  overflow: auto;
  position: relative;
  max-height: 298px;
  gap: 30px;
  flex-direction: column;
}


.content__details {
  position: relative;
  max-width: 399px;
  max-height: 534px;
}

.content__list-container {
  position: relative;
}

.result__video-container {
  position: relative;

}

.result__video {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;

}

.content__list-item {
  display: block;
  outline: none;
  gap: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70.5px;
  color: #ffffff;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  font-family: "oswald";
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 196px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  font-family: "fira sans condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  width: 196px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
  flex-direction: row;
}

.search-form__label {
  display: flex;
  width: fit-content;
  font-size: 18px;
  line-height: 21.6px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  transition: text-decoration 0.2s ease;
}

.search-form__label-text {
  margin-left: 5px;
  color: #FFFFFF;
}

/* Подчеркивание текста при наведении на лейбл */
.search-form__label:hover {
  text-decoration: underline;
}


.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__textfield {
  font-size: 18px;
  background-color: #1b1919;
  border-top: 1px solid #ffffffb2;
  border-bottom: 1px solid #ffffffb2;
  border-right: none;
  appearance: none;
  color: #ffffffb2;
  font-family: 'Fira Sans Condensed';
  min-width: 224px;
}


.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #FFFFFF;
}

/* Общие свойства кнопки */
.button {
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;

}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
  min-height: 34px;
  margin-left: 14px;
}


.more-button {
  width: 100%;
  min-height: 34px;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  cursor: default;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;

}

.content__list-item:focus {
  outline: none;
}

.content__list-item:hover {
  cursor: pointer;
  text-decoration: underline;

}

.content__list-item:active {
  cursor: default;
  background-color: #545050;

}

.content__list-item:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;

}